@model IEnumerable<UserProfiler.Models.ContentPage>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@Url.Content($"~/p/{item.Url}")">@item.Title</a>
            </td>
            <td>
                <a href="@Url.Content($"~/p/{item.Url}")">Display</a> |
                <a href="@Url.Content($"/page/{item.Id}/activity")">Activity</a>
            </td>
        </tr>
}
    </tbody>
</table>
